@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --circle-primary-color: rgba(39, 77, 107, 0.356);
  --circle-secondary-color: rgba(5, 38, 75, 0.575);
  --arrow-primary-color: rgba(49, 49, 49, 0.85);
  --arrow-secondary-color: rgba(12, 12, 12, 0.137);
  --tap-circle-success: rgba(138, 139, 138, 0.541);
  --text-color: rgb(5, 144, 179);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
h1,
h3 {
  text-shadow: 2px 2px #000;
}
/* background */
.bg {
  position: relative;
  height: 100vh;
  background: url("/img/bg.jpg") no-repeat center center/cover;
}
/* Data */
.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 30px;
  gap: 20px;
  padding: 200px 200px 0px 200px;
  transition: all 500ms ease-in-out;
}
.btn {
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  font-size: 25px;
}
.btn#start,
.list {
  color: rgb(5, 144, 179);
  background: rgb(11, 30, 48);
}

.list:hover {
  color: rgb(11, 30, 48);
}
.btn#start:hover {
  color: rgb(11, 30, 48);
  background: var(--text-color);
}

.btn#restart {
  background: brown;
  color: #000;
}
.btn#restart:hover {
  color: brown;
  background: #000;
}

/* Circle */
.circle {
  /* outside */
  position: absolute;
  display: block;
  height: 100px;
  width: 100px;
  border: 16px var(--circle-secondary-color) solid;
  border-radius: 50%;
  top: 91%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 200ms linear;
}

/* inside */
.circle:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -14px;
  left: -14px;
  right: -14px;
  bottom: -14px;
  border: 12px solid var(--circle-primary-color);
  border-radius: 50%;
}
/* Arrow */
.tapDiv {
  position: absolute;
  opacity: 0;
  transition: all 200ms linear, margin 6s linear;
  margin: 0px 0px 0px 600px;
}
.arrow {
  position: absolute;
  border: solid var(--arrow-primary-color);
  border-width: 0 11px 11px 0;
  padding: 18px;
  left: 25px;
  top: 16px;
  z-index: 100;
}
.tapCircle {
  position: absolute;
  width: 80px;
  height: 80px;
  background: none;
  border-radius: 50%;
  top: -5px;
  left: -5px;
  transition: all 200ms linear, margin 6s linear;
  z-index: -10;

  opacity: 1;
}
/* Arrows */
.arrow.d39 {
  left: 10px;
  transform: rotate(-45deg);
}
.arrow.d37 {
  transform: rotate(135deg);
}
.arrow.d38 {
  transform: rotate(-135deg);
  left: 17px;
  top: 25px;
}
.arrow.d40 {
  left: 17px;
  top: 10px;
  transform: rotate(45deg);
}

/* Flex Row */
.flex-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.options {
  background: rgb(11, 30, 48);
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px;
}

/* Show Score */
.show_score {
  /* border: 1px solid #000; */
  width: 50px;
  position: absolute;
  font-size: 45px;
  font-weight: bold;
  left: 8px;
  top: 7px;
  color: rgba(251, 255, 249, 0.856);
  text-shadow: 2px 3px rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: -10;
  opacity: 1;
  transition: all 100ms linear;
}
