@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --circle-primary-color: rgba(39, 77, 107, 0.356);
  --circle-secondary-color: rgba(5, 38, 75, 0.575);
  --arrow-primary-color: rgba(49, 49, 49, 0.85);
  --arrow-secondary-color: rgba(12, 12, 12, 0.137);
  --tap-circle-success: rgba(138, 139, 138, 0.541);
  --text-color: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: aqua;
  transition: 250ms ease-in-out;
}
a:hover {
  text-decoration: underline;
}
h1,
h3 {
  text-shadow: 2px 2px #000;
}
ol {
  padding: 5px 20px;
}
.wrap {
  max-width: 1080px;
  position: relative;
  margin: 0 auto;
  padding: 0 40px;
}
/* background */
.bg {
  position: relative;
  height: 100vh;
  background: url("/img/bg.jpg") no-repeat center center/cover;
}
/* Data */
.flex-interface {
  padding: 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.flex-interface .description {
  font-size: 18px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 20px;
}
.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  font-size: 22px;
  gap: 20px;
  padding: 50px 50px 0px 50px;
  transition: all 500ms ease-in-out;
  color: var(--text-color);
}
.btn {
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  font-size: 22px;
}
.btn#start,
.list {
  color: var(--text-color);
  background: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
.btn#start:hover {
  color: #fff;
}
.btn#start.lock {
  cursor: not-allowed;
}
.btn#start.lock:hover {
  color: #ccc;
}

.list:hover {
  color: rgb(255, 255, 255);
}
.btn#start.show:hover {
  color: #fff;
}

.btn#restart {
  background: rgba(83, 6, 6, 0.8);
  color: #ccc;
}
.btn#restart:hover {
  color: #fff;
  /* background: #000; */
}

/* Circle */
.circle {
  /* outside */
  position: absolute;
  display: block;
  height: 100px;
  width: 100px;
  border: 16px var(--circle-secondary-color) solid;
  border-radius: 50%;
  top: 91%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 200ms linear;
}

/* inside */
.circle:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -14px;
  left: -14px;
  right: -14px;
  bottom: -14px;
  border: 12px solid var(--circle-primary-color);
  border-radius: 50%;
}
/* Arrow */
.tapDiv {
  position: absolute;
  opacity: 0;
  transition: all 200ms linear, margin 6s linear;
  margin: 0px 0px 0px 600px;
}
.arrow {
  position: absolute;
  border: solid var(--arrow-primary-color);
  border-width: 0 11px 11px 0;
  padding: 18px;
  left: 25px;
  top: 16px;
  z-index: 100;
}
.tapCircle {
  position: absolute;
  width: 80px;
  height: 80px;
  background: none;
  border-radius: 50%;
  top: -5px;
  left: -5px;
  transition: all 200ms linear, margin 6s linear;
  z-index: -10;

  opacity: 1;
}
/* Arrows */
.arrow.d39 {
  left: 10px;
  transform: rotate(-45deg);
}
.arrow.d37 {
  transform: rotate(135deg);
}
.arrow.d38 {
  transform: rotate(-135deg);
  left: 17px;
  top: 25px;
}
.arrow.d40 {
  left: 17px;
  top: 10px;
  transform: rotate(45deg);
}

/* Flex Row */
.flex-row {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.options {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px;
}

/* Show Score */
.show_score {
  /* border: 1px solid #000; */
  width: 50px;
  position: absolute;
  font-size: 45px;
  font-weight: bold;
  left: 8px;
  top: 7px;
  color: rgba(251, 255, 249, 0.856);
  text-shadow: 2px 3px rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: -10;
  opacity: 1;
  transition: all 100ms linear;
}
/* Show Help */
.show_help {
  width: 400px;
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  left: -160px;
  top: -80px;
  color: rgba(251, 255, 249, 0.856);
  text-shadow: 3px 3px rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: -10;
  opacity: 0;
  transition: all 100ms linear;
}
